*,
::before,
::after {
  border-width: 0;
  box-sizing: border-box;
}

::before,
::after {
  --tw-content: '';
}

html,
:host {
  -moz-tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family:
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.5;
  tab-size: 4;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace;
	font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-secondary);
  opacity: 1;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none;
}

/* ********** */

html {
  --background: #fafbfc;
  --background-darker: #f4f5f7;
  --background-highlight: #0052cc;
  --background-highlight-darker: #0747a6;
  --background-success: #e3fcef;
  --background-error: #ffebe6;
  --text-primary: #172b4d;
  --text-secondary: #344563;
  --text-highlight: #0052cc;
  --text-on-highlight: #fafbfc;
  --text-success: #006644;
  --text-error: #bf2600;
  --stroke: #dfe1e6;
  --stroke-highlight: #0052cc;
  --stroke-success: #006644;
  --stroke-error: #bf2600;
  background-color: var(--background);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#app {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80rem;
  min-height: 100vh;
  padding: 0 1rem;
  row-gap: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.input,
.select,
.textarea {
  background-color: var(--background-darker);
  border: 1px solid var(--stroke);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

.input[aria-invalid="true"],
.select[aria-invalid="true"],
.textarea[aria-invalid="true"] {
  border: 1px solid var(--stroke-error);
}

.input:focus,
.select:focus,
.textarea:focus {
  border: 1px solid var(--stroke-highlight);
  box-shadow: 0 0 0 0.25rem rgba(0, 82, 204, 0.25);
  outline: none;
}

.input:focus[aria-invalid="true"],
.select:focus[aria-invalid="true"],
.textarea:focus[aria-invalid="true"] {
  border: 1px solid var(--stroke-error);
  box-shadow: 0 0 0 0.25rem rgba(191, 38, 0, 0.25);
}

.btn {
  background-color: var(--background-highlight);
  border: 1px solid var(--background-highlight);
  border-radius: 0.25rem;
  color: var(--text-on-highlight);
  padding: 0.5rem 0.75rem;
}

.btn:hover {
  background-color: var(--background-highlight-darker);
}

.text-error {
  color: var(--text-error);
}
